* {
    box-sizing: border-box;
}

body {
    background-color: #252525;
    font-family: sans-serif;
    font-size: 20px;
}

.calc {
    margin: 0 auto;
    width: 640px;
}

.row-buttons {
    width: 640px;
    display: flex;
}

button {
    height: 60px;
    width: 60px;
}

.calc-operator {
    cursor: pointer;
    font-weight: 300;
    background-color: orange;
    text-align: center;
    font-size: 20px;
    border: 1px solid #252525;
}

.calc-text {
    cursor: pointer;
    font-weight: 300;
    font-family: sans-serif;
    border: 1px solid #252525;
    background-color: #CACECF;
    font-size: 20px;
}

.calc-number {
    cursor: pointer;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid #252525;
    background-color: #CACECF;
}

button:hover {
    background-color: #f5f5f5;
}

#input {
    background-color: #fff;
    height: 60px;
    width: 240px;
    margin-bottom: 5px;
    color: #000;
    text-align: right;
    padding: 20px;
}